*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
html,
body {
width: 100%;
height: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------SideBar------------------- */
#sideBar{
height: 100vh;
width: 17%;
background-color:  #ffff;
padding: 5px;
border-right: 1px solid #e5e7eb;

}

.top{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
}
.logo{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo i{
   font-size: 35px;
}

.menu{
    height: 88%;
    display: flex;
    flex-direction: column;
    padding: 9px 10px;
    align-items: center;
  justify-content: space-between;
  background: #FFFF;

}

.menu .buttonSection{
    width: 100%;
       display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    gap: 20px;
   
}
.buttonSection button {
    width: 100%;
    padding: 12px 10px;
    font-size: 17px;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #F0F0F0;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttonSection button.active {
    background-color: #DBEAFE;
    color: #1E40AF;
}

#TransitionButton{
width: 100%;
padding: 14px;
font-size: 17px;
border-radius: 15px;
border:none;
color: #FFFF;
background-color: rgb(31, 30, 30);
}

#TransitionButton:hover{
    transform:translateY(-4px);
box-shadow:0 15px 25px rgba(39, 39, 47, 0.35);
}

#TransitionButton:active{
    transform:translateY(0);
        box-shadow:0 8px 20px rgba(0,0,0,.15);

}



/*----------------------HeroSection-------------- */
#heroSection{
    height: 100vh;
    width: 83%;
    background-color:  #F8FAFC;
   
}

nav{
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    border-bottom: 1px solid #e5e7eb;
}

nav .navright{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logoutBtn{
    padding: 6px 10px ;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    background:linear-gradient(135deg,#454bed,#8e5ce6);
color:white;

}

#logoutBtn:hover{
    transform:translateY(-1px);
box-shadow:0 15px 25px rgba(91,95,239,.35);
}

#logoutBtn:active{
    transform:translateY(0);
        box-shadow:0 8px 20px rgba(0,0,0,.15);

}



/* -------------heroContent nav------------- */

/*--------- HERO HEADER -------------*/

.hero-top{
    width:100%;
    height:6%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 20px;
}

.hero-top h1{
    font-size:15px;
    font-weight:700;
    color:#111827;
    margin:0;
}

/* Right Side */

.topright{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

/* Button */

.clear-btn{
    padding:7px 10px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    background:white;
    color:#111827;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    transition:.25s;
      background:linear-gradient(130deg,#c19dff,#9a9df4);
}

.clear-btn:hover{

    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.clear-btn:active{
    transform:translateY(0);
    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

/*================ TOGGLE =================*/

.toggle-switch{
    position:relative;
    width:23px;
    height:40px;
    display:inline-block;
    flex-shrink:0;
    rotate:90deg;

}

/* Hide checkbox */

.toggle-switch input{
    display:none;

}

/* Track */

.slider{
    position:absolute;
    inset:0;
    background:#C4C4C4;
    border-radius:35px;
    cursor:pointer;
    transition:.3s;

}

/* Circle */

.slider::before{
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    left:1.3px;
    bottom:1px;
    background:white;
    border-radius:50%;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

/* ON */

.toggle-switch input:checked + .slider{
    background:#6366F1;

}

.toggle-switch input:checked + .slider::before{
    transform:translateY(-19px);

}



/* -------------heroSection------------- */

#heroContent{
    height: 100%;

}
#dashboardContent{
      height: 100%;
    padding: 20px ;
}

#heroContent h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.transactions{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.balance ,.TotalIncome, .TotalExpenses, .TotalTransactions{
    background-color: #ffffffea;
    height: 95%;
    width: 25%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2px;
   padding: 20px;
    border-radius: 15px;
    box-shadow:0 5px 18px rgba(0,0,0,.04);
}

.balance i , .TotalExpenses i, .TotalTransactions i{
    font-size: 20px;
    padding:  15px;
    border-radius: 10px;
    background-color: #DBEAFE;
    color: #1E40AF;
    margin-bottom: 17px;
    
}
.balance h3 ,.TotalIncome h3, .TotalExpenses h3, .TotalTransactions h3{
    font-size: 17px;
    color: #4f5157;
    font-weight: 500;
}

.TotalExpenses h1{
    color: #991B1B;
    font-weight: 500;   
}
.TotalIncome h1{
    color: #166534;
    font-weight: 500;   
}
.TotalIncome h1{
    color: #166534;
    font-weight: 500;   
}

.icon1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #DCFCE7;
    color: #166534;
    margin-bottom: 17px;
}

.icon1 svg{
    width: 25px;
    height: 25px;
} 
.icon2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #FEE2E2;
    color: #991B1B;
    margin-bottom: 17px;
}

.icon2 svg{
    width: 25px;
    height: 25px;
} 
/*--------------------- Chart Card Styles---------------- */

.transactionAndChart{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
   
   
}

.chart-card{
    width:45%;
    height:100%;
    padding:20px;
    background:white;
    border-radius:20px;
    margin-top:10px;
    display: flex ;
    flex-direction: column;
     box-shadow:0 5px 18px rgba(0, 0, 0, 0.04);
}
.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
  
}
.profitbox{
    width: 25px;
    height: 15px;
    background-color: #166534;}
   
.lossbox{
    width: 25px;
    height: 15px;
    background-color: #991B1B;

}
.profit-loss{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.chart-card .chart-area{
    padding: 3px;
    width:100%;
    height:100%;
}

.chart-area canvas{
    width:100%;
    height:100%;
}


 /*----------- transaction history--------- */

 
.transactionhistory-card{
    height:100%;
    width:55%;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:22px;
    padding:15px;
    box-shadow:0 5px 18px rgba(0,0,0,.04);
    overflow-y: auto;
}

/* Heading */

.transactionhistory-card h3{
    font-weight:700;
    color:#0f172a;
    margin-bottom:10px;

}

/*-----------------Controls
------------------*/

.transaction-controls{
    display:flex;
    gap:10px;
    margin-bottom:10px;

}

/* Search */

.search-box{
height:34px;
    display:flex;
    align-items:center;
    gap:5px;
    background:#f8fafc;
    border:1px solid #e5e7eb;
    border-radius:14px;
    padding:1px 18px;

}

.search-box i{
    font-size:18px;
    color:#334155;
}

.search-box input{
    width:100%;
    height:34px;
    border:none;
    outline:none;
    background:transparent;
    font-size:15px;

}

/* Select */

.transaction-controls select{
    width:390px;
    border-radius:14px;
    border:1px solid #d1d5db;
    padding:0 18px;
    font-size:15px;
    outline:none;

}
 

/*=============================
            TABLE
==============================*/

table{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

thead{
    background:#fff;
}

thead th{
    padding:16px 12px;
    text-align:left;
    font-size:15px;
    font-weight:700;
    color:#475569;
    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    background:#fff;
    z-index:2;
}

tbody td{
    padding:18px 12px;
    font-size:16px;
    color:#0f172a;
    border-bottom:1px solid #eceff3;
    vertical-align:middle;
}

tbody tr{
    transition:.2s;
}

tbody tr:hover{
    background:#f8fafc;
}

/* DATE */

thead th:nth-child(1),
tbody td:nth-child(1){
    width:18%;
}

/* DESCRIPTION */

thead th:nth-child(2),
tbody td:nth-child(2){
    width:24%;
}

/* CATEGORY */

thead th:nth-child(3),
tbody td:nth-child(3){
    width:24%;
}

/* AMOUNT */

thead th:nth-child(4),
tbody td:nth-child(4){
    width:16%;
    text-align:right;
    font-weight:700;
}

/* ACTIONS */

thead th:nth-child(5),
tbody td:nth-child(5){
    width:18%;
    text-align:center;
}

.category{
    display:inline-block;
    min-width:120px;
    text-align:center;
    padding:8px 14px;
    border-radius:8px;
    font-size:14px;
    font-weight:600;
}

.category-income{
    background:#DCFCE7;
    color:#15803d;
    border:1px solid #15803d;
}

.category-expense{
    background:#FEE2E2;
    color:#DC2626;
    border:1px solid #DC2626;
}

.income{
    color:#16A34A;
    font-weight:700;
}

.expense{
    color:#DC2626;
    font-weight:700;
}

.actions{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:16px;
}

.actions i{
    font-size:20px;
    cursor:pointer;
    transition:.25s;
}

.edit{
    color:#2563EB;
}

.delete{
    color:#DC2626;
}

.actions i:hover{
    transform:scale(1.15);
}
.actions i:active{
    transform:translateY(0);
}


/* ===================================Overlay================================================ */

/*=============================
Overlay
=============================*/

.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}

/*=============================
Modal
=============================*/

.transaction-modal{
    width:460px;
  background:#fff;
    border-radius:18px;
    padding:28px;
    box-shadow:0 20px 45px rgba(0,0,0,.18);
    animation:popup .25s ease;
}

@keyframes popup{
    from{
        transform:translateY(20px) scale(.95);
        opacity:0;
    }

    to{
        transform:translateY(0) scale(1);
        opacity:1;
    }

}

/*=============================
Header
=============================*/

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:22px;
}

.modal-header h2{
    font-size:22px;
    font-weight:700;
    color:#111827;
}

#close-btn{
    border:none;
    background:none;
    cursor:pointer;
    font-size:20px;
    color:#ffffff;
    background-color: #a92525;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
}

#close-btn:hover{
   
    box-shadow: inset 0 0 0 2px #a92525;
      transform:translateY(-1px);
      background: #991B1B;

}
#close-btn:active{
   
    box-shadow: inset 0 0 0 2px #a92525;
      transform:translateY(2px);

}

/*=============================
Inputs
=============================*/

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.input-group label{
    font-size:17px;
    margin-bottom:8px;
    color:#111827;

}

.input-group input,
.input-group select{
    width:100%;
    height:46px;
    border:1px solid #d1d5db;
    border-radius:10px;
    padding:0 15px;
    font-size:16px;
    outline:none;
    background:#fff;
    transition:.25s;
}

.input-group input:focus,
.input-group select:focus{
    border-color:#6366F1;
    box-shadow:0 0 0 3px rgba(99,102,241,.15);

}

/*=============================
Row
=============================*/

.row{
    display:flex;
    gap:18px;
}

.row .input-group{
    flex:1;
}

/*=============================
Button
=============================*/

.save-btn{
    width:100%;
    height:48px;
    border:none;
    border-radius:10px;
    background:#000;
     color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    margin-top:8px;
    transition:.25s;
}

.save-btn:hover{
    background:#111827;
    transform:translateY(-4px);

}

.save-btn:active{
    transform:translateY(0);
    box-shadow:0 3px 10px rgba(0,0,0,.08);

}


/* =================setting design================== */

#settingContent{
    padding: 20px;
}
.settings-header h2{
    font-size:26px;
    margin-bottom:6x;
}

.settings-header p{
    color:#6B7280;
    margin-bottom:20px ;
}

.settings-card{
    width: 60%;
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:18px;
    padding:30px;
    margin-bottom:25px;
}

.settings-card h3{
    margin-bottom:25px;
    font-size:20px;
}


.input-box{
     display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.input-box label{
    font-weight:600;
}

.input-box input,
.input-box select{
    height:35px;
    border:1px solid #D1D5DB;
    border-radius:10px;
    padding:0 15px;
    font-size:16px;
    outline:none;
}

.settingSaveChanges{
    margin-top: 20px;
    padding:10px 20px;
    background:#111827;
    color:#fff;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;

}

.settingSaveChanges:hover{
   
    transform:translateY(-4px);

}

.settingSaveChanges:active{
    transform:translateY(0);
 

}

.hidden{
display: none;
}


/* --------------------------------dark mode --------------------*/

body.dark{
    background:#0F172A;
    color:#F8FAFC;
}

body.dark #sideBar{
    background:#111827;
}

body.dark #sideBar h2,
body.dark #sideBar span {
    color: #F8FAFC;
}

body.dark #sideBar button {
    background-color: #1E293B;
    color: #F8FAFC;
}

body.dark #sideBar button.active {
    background-color: #DBEAFE;
    color: #1E40AF;
}

body.dark nav{
    background:#111827;
}

body.dark nav h3{
    color:#F8FAFC;
}

body.dark .balance,
body.dark .TotalIncome,
body.dark .TotalExpenses,
body.dark .TotalTransactions,
body.dark .chart-card,
body.dark .transactionhistory-card,
body.dark .settings-card{
    background:#1E293B;
    color:white;
    border: 1px solid #e5e7eb;
}

body.dark input,
body.dark select{
    background:#334155;
    color:white;
    
}

body.dark table{
    color:white;
}

body.dark thead{
    background:#334155;
}

body.dark tbody tr{
    border-bottom:1px solid #475569;
}

body.dark .transaction-modal{
    background:#1E293B;
    color:white;
}
body.dark .transaction-modal h2 ,body.dark .transaction-modal  label{
    background:#1E293B;
    color:white;
}

body.dark .modal-header{
    border-bottom:1px solid #334155;
}

body.dark button{
    transition:.3s;
}

body.dark .clear-btn{
    background:#DC2626;
    color:white;
}

body.dark #logoutBtn{
    background:#2563EB;
    color:white;
}

body.dark .chart-area{
    background:#1E293B;
}

body.dark .settings-card{
    background:#1E293B;
}


body.dark #heroContent{
       background:#303d52;
}

body.dark .settings-header p{
    color:#CBD5E1;

}

  
body.dark  .menu{
        background: #334155;
    }

 
body.dark  #TransitionButton{
    background-color: #2563EB;
   } 

 
body.dark  .settingSaveChanges{
     background-color: #2563EB;
   }
 
body.dark  #saveTransactionBtn{
     background-color: #2563EB;
   }

 
body.dark  .transactionhistory-card h3{
    color: #F8FAFC;
   }

 
body.dark  thead th{
    background-color:#334155 ;
    color: #ffffff;
    border: none;
   }
 
body.dark  .search-box{
    background-color:#334155 ;
    color: #ffffff;
    border: none;
   }


body.dark   tbody td{
    color: #fff;
   }
 
body.dark  tbody tr:hover td{
    color: #000;
   }